* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./background\ home.jpg");
  background-size: fill;

  background-position: top;
}
.Navbar {
  height: 8vh;
  background-color: rgb(238, 255, 0);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
  box-shadow: grey 10px 10px 20px 1px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Nova Slim", cursive;
}

.nav_links {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.nav_link:hover {
  color: white;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  0% {
    color: rgb(180, 179, 179);
  }

  100% {
    color: rgb(48, 48, 48);
  }
}
.nav_link {
  font-size: 25px;
  color: rgb(48, 48, 48);
  text-decoration: none;
  padding-right: 40px;
  font-family: sans-serif;
}
