* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
table {
  border-radius: 10px;
  width: 60rem;
  border: 1px solid #eeeeee;
  margin-bottom: 5rem;
  margin-top: 25px;
}
thead {
  background-color: #000000;
}
thead > tr > th {
  font-size: 1.5rem;
  color: #eaeaea;
}

td,
th {
  padding: 1rem;
  width: max-content;
  border-bottom: 1px solid #000000;
  text-align: center;
}

td {
  font-size: 1.4rem;
}

.transaction {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.transactionForm {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  background-color: #96d0f7;
  border-radius: 10px;
  width: 40%;
  margin-bottom: 25px;
}
.senderAndReceiver,
.amount {
  padding: 5px;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}

.senderAndReceiver {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
label {
  margin: 10px;
}
select {
  font-size: 1.3rem;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
  margin: 20px;
}
input {
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #000000;
  width: 150px;
  text-align: center;
}

.submitButton {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.submitButton {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.submitButton:hover,
.submitButton:focus {
  color: #fff;
  outline: 0;
  background-color: #000000;
}

.submitButton:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.transactionList > label {
  font-size: 1.7rem;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  color: #ffffff;
}
